<div class="score-container">
    
  <div class="header-container">
    
    <button (click)="home()" class="home-button">
      <i class="fa-solid fa-arrow-left"></i>
    </button>
  </div>
  
  <h1>Your Score</h1>


     <p [ngClass]="{'low-score': score < 3, 'high-score': score >= 3}">
      Your score: {{score}} / {{totalQuestions}}
    </p>
    <p *ngIf="score >= 3" class="high-score">Great Score!</p>
    <p *ngIf="score < 3" class="low-score">You Might Want to Try Again</p>
    <button (click)="retakeQuiz()">Retake Quiz</button>
  </div>
  
  

